<body>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <button (click)="goToHome()" class="logo"></button>
    <div class="log-out-div">
        <button (click)="logOut()" class="log-out">Log Out</button>
    </div>
    <div class="blur-vertical-line">
    </div>
    <div class="works-div">
        
        <div class="user-title-page">
            <h1 (event)="ngOnInit()">{{ this.artName }}</h1>
        </div>
        
    </div>

    <app-work-list [works]="works"></app-work-list>
    <ng-template #noWorks>
        <p>Non ci sono lavori per questo utente.</p>
    </ng-template>


    <ng-template #loading>
    <p>Caricamento in corso…</p>
    </ng-template>

    <div class="upload-div" *ngIf="userHasAdminRole">
        <a (click)="goToUploadWork()" class="upload-work">UPLOAD <br><br> NEW WORK</a>
    </div>

    <footer class="site-footer">
        <div class="footer-inner">
            <div class="footer-col">
                <h4>Contact Us</h4>
                <a href="mailto:info.nosaintz@gmail.com" target="_blank">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li><a href="https://open.spotify.com/playlist/6Pa1vPI5eSME4VjJwM6RUI" target="_blank"><i class="fab fa-spotify"></i></a></li>
                    <li><a href="https://www.instagram.com/youneednosaintz" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/youneednosaintz" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </div>
     </footer>
</body>