<p>upload-work works!</p>
<div
class="drop-zone"
(dragenter)="onDragOver($event)"
(dragover)="onDragOver($event)"
(dragleave)="onDragLeave($event)"
(drop)="onDrop($event)">
    <p *ngIf="!file">Trascina il file audio qui</p>
    <p *ngIf="file"> {{ file.name }}</p>
    <button (click)="goToUserPage()">Profilo Utente</button>
    <button (click)="goToHome()">Torna alla Home</button>
</div>

<div *ngIf="file" class="work-form">
    <h3>Details</h3>

    <label>Titolo:
        <input type="text" [(ngModel)]="work.title" name="title" />
    </label>

    <label>Artista:
        <input type="text" [(ngModel)]="work.userId" name="artName" />
    </label>

    <label>BPM:
        <input type="number" [(ngModel)]="work.bpm" name="bpm" />
    </label>

    <label>Tonalità:
        <select [(ngModel)]="work.key" name="key">
        <option *ngFor="let key of keys" [value]="key">{{ key }}</option>
        </select>
    </label>

    <button (click)="submitWork()">Salva Work</button>
</div>